

<section data-ng-controller="HomeController">
  <small>
    <em class="text-muted">
      Created by on Gatech girls
      <span data-ng-bind="user.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="user.user.displayName"></span>
    </em>
  </small>
  <newd data='myData'>
    
  <span data-ng-bind="users"></span>

  </newd>
</section>

<script src="../../../lib/d3/d3.v3.min.js"></script>
<script type="text/javascript">

  var width = 1260,
    height = 1000;
  // yyyyyyy
  console.log('got executed!!!!!!!!!!!!!!!!!!!!')
  var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);
    svg.append('p').text('sridevi is greatt!!!!!!!!!!!!!!!!!!!!!')

</script>
