<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Hybrid Restaurant Recommender
			</p>
		</div>
		<div class="row">
			<p>

			<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">User Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="User Name">
				</div>
				</fieldset>
				</form>

				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Recommend</a>
			</p>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>Enjoy &amp; Happy dining,
	<br>The Gatech girls' Team.
</section>